repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.1.0
    hooks:
      - id: black

  - repo: https://github.com/tlambert03/napari-plugin-checks
    rev: v0.3.0
    hooks:
      - id: napari-plugin-checks

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.15.0
    hooks:
     - id: mypy
       additional_dependencies: [numpy, matplotlib]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.11.6'
    hooks:
      - id: ruff

ci:
  autofix_prs: false
