name: Build docs

on:
  pull_request:
    branches:
      - main

jobs:
  build-and-upload:
    name: Build & Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - uses: tlambert03/setup-qt-libs@v1

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[docs]"

      - name: Build Docs
        uses: aganders3/headless-gui@v1
        with:
          run: make html
          working-directory: ./docs

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/_build
