name: Build docs
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10
  workflow_dispatch:

jobs:
  build-docs:
    name: Build & Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - uses: tlambert03/setup-qt-libs@19e4ef2d781d81f5f067182e228b54ec90d23b76 # v1

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[docs]"
          sudo apt install graphviz --yes

      - name: Build Docs
        uses: aganders3/headless-gui@f85dd6316993505dfc5f21839d520ae440c84816 # v2
        with:
          run: make html
          working-directory: ./docs

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: docs
          path: docs/_build

  upload-docs:
    name: Upload docs to GitHub pages
    runs-on: ubuntu-latest
    needs: build-docs
    if: contains(github.ref, 'tags')
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/download-artifact@v6.0.0
        with:
          name: docs

      - name: Push to GitHub pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4
        with:
          folder: html
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          repository-name: napari-matplotlib/napari-matplotlib.github.io
