name: Build docs

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-docs:
    name: Build & Upload Artifact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - uses: tlambert03/setup-qt-libs@v1

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[docs]"
      - name: Build Docs
        uses: aganders3/headless-gui@v1
        with:
          run: make html
          working-directory: ./docs

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs
          path: docs/_build

  upload-docs:
    name: Upload docs to GitHub pages
    runs-on: ubuntu-latest
    needs: build-docs
    steps:

    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
      with:
        name: docs
    - run: ls
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.2
      with:
        folder: html
